body{
    background-color: rgb(37, 36, 37); 
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    display: flex;
}

.case{
    width: 220px;
    height: 220px;
    margin: 8px 4px;
}

#case1{
    /* origine : F25022*/
    background-color: #F25022;
}

#case2{
    /* origine : 7FBA00*/
    background-color: #7FBA00;
}

#case3{
    /* origine : 00A4EF*/
    background-color: #00A4EF;
}

#case4{
    /* origine : FFB900*/
    background-color: #FFB900;
}

/******************************
PANEL CONTROL
******************************/

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel button{
    width: 150px;
    height: 40px;
    font-family: Helvetica, sans-serif;
    background-color: #00C3FF;
    border-radius: 10px;
    font-size: 125%;
    color: rgb(243, 243, 243);
}

h2{
    font-family: Helvetica, sans-serif;
    color: #00C3FF;
}

.panel div{
    display: flex;
}